@import url("reset.css");

html {
	padding: 0;
	margin: 0;
}

body {
	color: #333333;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 30px;
	line-height: 1.6;
	background-color: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
	margin: 0 0 1.6rem;
}

p {
	font-family: inherit;
	line-height: 1.6;
	margin: 0 0 1.6rem;
}

a {
	color: #0056b3;
	border-bottom: 2px solid transparent;
	transition: all 0.5s ease-in-out;
}

a:hover {
	color: #002348;
	border-bottom: 2px solid #002348;
}



/* Layout */


.border {
	display: block;
	margin: 20px;	
	padding: 10%;
	max-width: 1493px;
	max-height: auto;
	border: solid white 2px;
	z-index: 1;

}

.container {
	padding: 15px;
	max-width: 1500px;
	max-height: auto;
	color: white;	
	font-size: x-large;
	font-weight: 600;
	display: block;
	text-align: center;
	position: relative;
}



.my-quote { 
	padding: 0;
	display: flex;
	flex: auto;
	max-width: 1490px;
	max-height: auto;
	background: radial-gradient(at 54% -23px, #9F0B4D, #032D70);
	border-radius: 15px;
	position: relative;
	font-weight: bold;
	margin: 0;
	}





q {
	font-size: inherit;
	font-weight: 800;
	max-width: 95%;
	height: auto;
	
}

q::before,
q::after {
	content: '"';
	position: absolute;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 3em;
	color: white;
}

q::before {
	top: 20px;
	left: 75px;
}

q::after {
	bottom: 0px;
	right: 75px;
}

.person {
	font-family: sans-serif;
	font-size: medium;
	font-style: oblique;
	text-transform: uppercase;
}

/* Media Queries */

@media screen and (min-width: 699px) {
	max-width: 998px%;
	height: 100vh;
}

/* Desktop Media Query */
@media screen and (min-width: 999px) {
	width: 1500px;
	height: 100vh;

}
